@charset "utf-8";

/*공통사항*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding:0;
    background-color: #f9f9f9;
    color: #333;   
}

a {
    color:inherit;
    text-decoration:none;
}

ul{
    padding:0;
    margin:0;
}

ul li {
    list-style-type: none;
}

img {vertical-align: top;}

.cta-btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border:0.5px solid #eee;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.cta-btn--blue {
    background-color: #2b70f8;
    color: #fff;
}

.cta-btn--blue:hover {
    background-color: #548bf9;
}

.cta-btn--black {
    background-color: rgb(0, 12, 30, 0.8);
    color: #fff;
}

.cta-btn--black:hover {
    background-color: rgb(33, 33, 33, 0.8);
}

.cta-btn--blackTP {
    background-color: rgba(0, 12, 30, 0.8);
    color: #fff;
}

.cta-btn--blackTP:hover {
    background-color: rgba(33, 33, 33, 0.8);
}

.section {
    padding: 3rem 1.5rem;
    text-align: center;
    background-color: #fff;
    margin-top: 3rem;
}

.section-flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:0 65px;
}

.section-img{
    width:100%;
    max-width:560px;
    margin: 20px 0;
}

.section-txt{
    width:100%;
    max-width:335px;
    text-align:left;
}

.section-blue {
    background-color:#eaeff7;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 1000px;
    margin: auto;
}

.feature {
    max-width: 300px;
}

.hero {
    position:relative;
    height:600px;
    overflow:hidden;
    color:#fff;
}

.hero .hero-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0, 0.4);
    z-index:-1;
}

.nav-wrap {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background-color: transparent;
    z-index: 100;
    transition: background-color 0.3s ease;
}

.nav-wrap.scrolled{
    background-color: #212121;
    color:#fff;
}

.nav-wrap nav ul li{
    display:inline-block;
    margin-left:12px;
    font-size:14px;
}

.nav-wrap .logo-wrap img{
    width:120px;
    height:40px;
}

.hero .background-video{
    position:absolute;
    top:50%;
    left:50%;
    min-width:100%;
    min-height:100%;
    height:600px;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -2;
}

.hero .hero-content{
    text-align: center;
    margin-top:200px;
}

.hero-content p {
    font-size: 1.1rem;
}

.icon-shortcut {
    width:20px;height:20px;
    display:inline-block;
    background:url(/images/common/icon-arrow-outward.png) no-repeat center center;
    background-size:contain;
    vertical-align: middle;
    margin-left: 5px;
}

.openjob-service-wrap {
    padding: 5rem 1.5rem 3rem;
}

.openjob-service-wrap img {
    width: 42px;
    background-color: #eaeff7;
    padding: 6px;
    border-radius: 100%;
}

.openjob-airesume-wrap .section-flex {
    margin-bottom:80px;
}

.openjob-airesume-wrap .section-flex img {
    height: 435px;
}

.openjob-airesume-wrap .list {
    margin:0 0 16px 0;
}

.openjob-airesume-wrap .list-item{
    margin : 0 0 0 8px;
    line-height: 2.5rem;
}

.openjob-airesume-wrap .list-item::before{
    content :"";
    display:inline-block;
    width:9px;
    height:17px;
    border-right: 3px solid #2b70f8;
    border-bottom: 3px solid #2b70f8;
    transform:rotate(47deg);
    margin:2px 22px 0 0;
    box-sizing: border-box;
}

.openjob-airesume-wrap .openjob-airesume h2 {
    margin:0;
    color:#666;
    padding-bottom: 10px;
}

.openjob-airesume-wrap .ai-template-img{
    position:relative;
    max-width: 890px;
    margin:0;
    padding: 25px 0 30px;
    border-top:1px solid #ddd;
}

.openjob-airesume-wrap .openjob-airesume .cta-btn {
    padding:12px 48px;
}

.openjob-service-wrap .features {
    gap:100px;
}

.openjob-feature-wrap .feature img{
    width:300px;
    height:200px;
    border-radius:3px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 18px 32px;
    font-size: 12px;
    color: #777;
}